div#suggestions-view.container-fluid.fill(ng-controller='SuggestionsIndexController')
  div#suggestions-panel.panel.panel-default.fill
    div.panel-heading.clearfix
      ul.nav.nav-pills
        li(role='presentation') Suggestions
        li(role='presentation',
           ng-class='{ "active": isViewingReferred === false }')
          a(ng-click='suggestionTabClick("new")')
            | New
            span#suggestions-count-badge.badge {{ newCount }}
        li(role='presentation',
           ng-class='{ "active": isViewingReferred === true }')
          a(ng-click='suggestionTabClick("referred")')
            | Referred
            span#suggestions-count-badge.badge {{ referredCount }}
        li.pull-right(role='presentation')
          div.btn-toolbar
            div.btn-group
              a.btn.btn-xs.btn-default(ng-click='refreshClick()')
                  i.fa.fa-refresh
            div.btn-group
              a.btn.btn-xs(ng-click='deleteClick()',
                           ng-disabled='suggestionsGridSelectionCount == 0',
                           ng-class='suggestionsGridSelectionCount == 0 ? "btn-default" : "btn-danger"')
                | &nbsp;Delete
            div.btn-group
              a.btn.btn-xs.btn-default(ng-click='newSuggestionClick()')
                | &nbsp;New Suggestion
              a.btn.btn-xs.btn-default(ng-click='referClick()',
                                       ng-disabled='suggestionsGridSelectionCount == 0',
                                       ng-hide='isViewingReferred')
                | &nbsp;Refer
              a.btn.btn-xs.btn-default(ng-click='holdClick()',
                                       ng-disabled='suggestionsGridSelectionCount == 0',
                                       ng-show='isViewingReferred')
                | &nbsp;Hold

    div.panel-body
      div.fill(ui-grid='suggestionsGrid',
               ui-grid-selection,
               ui-grid-auto-resize,
               ui-grid-resize-columns)
    div.panel-footer
      ul.nav
        li.pull-right(role='presentation')
          div.input-group
            a.btn.btn-xs.btn-default.pull-right(ng-click='notifyClick()',
                                                ng-disabled='suggestionsGridSelectionCount == 0',
                                                ng-class='suggestionsGridSelectionCount == 0 ? "btn-default" : "btn-primary"')
              i.fa.fa-envelope(ui-on-long-press)
              | &nbsp;Send Notice{{ suggestionsGridSelectionCount > 1 ? 's' : '' }}
