div#login-controller.flexbox-container(ng-controller='LoginIndexController')
    div#login-form
        img(src='images/150_logo_0.png', height='81', width='300')
        form.form-horizontal(name='loginForm', role='form', autocomplete='off')
            div.form-group
                div
                    input#login-username-field.form-control(type='text',
                                                            name='usernameInput',
                                                            placeholder='Username',
                                                            ng-model='login.username',
                                                            required,
                                                            autofocus)
            div.form-group
                div
                    input#login-password-field.form-control(type='password',
                                                            name='passwordInput',
                                                            placeholder='Password',
                                                            ng-model='login.password',
                                                            required)
            div.form-group
                div
                    button#login-button.btn(type='submit',
                                            ng-disabled='loginForm.$invalid',
                                            ng-class='loginForm.$invalid ? "btn-default" : "btn-primary"',
                                            ng-click='login(login.username, login.password)') Login
        span.pull-right
          a Forgot your password?
