div(ng-controller='NotifierIndexController')
  form#send-notice-form.form-horizontal(name='sendNoticeForm',
                                        role='form',
                                        novalidate)
    fieldset
      legend Send Notice{{ ngDialogData.length > 1 ? 's' : '' }}
      div.form-group.required(ng-class='{ "has-error": sendNoticeForm.title.$invalid && sendNoticeForm.title.$dirty }')
        label.control-label.col-sm-2(for='template-field') Template
        div.col-sm-10
          select#template-field.form-control(ng-model='notice.template',
                                             ng-options='template.title for template in templates',
                                             required)
      div.form-group.required(ng-show='notice.template.sendCopy == true')
        label.control-label.col-sm-2(for='copyemail-field') CC
        div.col-sm-10
          select#copyemail-field.form-control(ng-model='notice.template.copyEmail', ng-options='user.email as user.email for user in users' required)
      div.form-group.required(ng-class='{ "has-error": sendNoticeForm.patron.$invalid && sendNoticeForm.patron.$dirty }'
                              ng-show='notice.template.bibRequired == true')
        label.control-label.col-sm-2(for='patron-field') Bib #
        div.col-sm-10
          div.input-group
            span.input-group-addon #
            input#patron-field.form-control(type='text',
                                            name='bibNumber',
                                            ng-model='notice.bibNumber',
                                            ng-required='notice.template.bibRequired == true')
      div.form-group.required(ng-class='{ "has-error": sendNoticeForm.body.$invalid && sendNoticeForm.body.$dirty }')
        label.control-label.col-sm-2(for='body-field') Body
        div.col-sm-10
          ul.nav.nav-tabs
            li.active
              a(data-target='#template-text', data-toggle='tab') Text
            li
              a(data-target='#template-html', data-toggle='tab') HTML

        div.tab-content
          div#template-text.tab-pane.active
            textarea#body-field.form-control(name='body',
                                             ng-model='notice.template.body',
                                             rows='12',
                                             required)
          div#template-html.tab-pane
            textarea#html-field.form-control(name='html',
                                             ng-model='notice.template.html',
                                             rows='12')
                                             
      div.form-group
        div.col-sm-12
          button.btn.btn-primary.pull-right(ng-click='sendNoticeClicked()',
                                            ng-disabled='sendNoticeForm.$invalid',
                                            ng-class='sendNoticeForm.$invalid ? "btn-default" : "btn-primary"') Send
          button.btn.pull-right.btn-default(ng-click='closeThisDialog()') Cancel
