div.fill
  div.chatroom-message-list.fill
    ui-message-list(messages='messages'
                    get-message-classes='getMessageClasses',
                    auto-scroll='true',
                    fade-in='true',
                    timestamp-format='dd/MM/yyyy HH:mm')
  div.chatroom-input-box
    form#chatroom-form(name='chatroomForm',
                       ng-submit='sendMessage(chatroomForm.$valid)',
                       novalidate,
                       autocomplete='off')
      fieldset
        input.chatroom-input-box-text(ng-model='message',
                                      type='text',
                                      placeholder='Enter text here to chat',
                                      ng-minlength='1',
                                      required)