div#console-view.fill(data-ng-controller='ConsoleIndexController')
  div.container-fluid.fill
    div#console-panel.panel.panel-default.fill
      div.panel-heading Console
        div.btn-toolbar.pull-right
          div.btn-group
            a.btn.btn-xs.btn-default(ui-sref='console#index',
                                     ng-hide='$state.current.name == "console#index"')
              i.fa.fa-caret-square-o-up
            a.btn.btn-xs.btn-default(ng-click='minimizeClick()',
                                     ui-sref='suggestions#index',
                                     ng-show='$state.current.name == "console#index"')
              i.fa.fa-caret-square-o-down
            a.btn.btn-xs.btn-default(ng-click='closeClick()',
                                     ui-sref='suggestions#index')
              i.fa.fa-close
      div.panel-body
        div.chatroom-message-list.fill
          ui-chatroom(data-messages='messages',
                      data-username='name')